@page
@model DwellerHillCouncilWebsite.Pages.FeaturesModel
@{
    ViewData["Title"] = "Features";
}
<section class="bg-slate-100">
    <div class="container px-6 py-10 mx-auto">
        <h1 class="text-3xl font-semibold text-slate-800 capitalize lg:text-4xl">explore our <br> exclusive <span class="underline decoration-primary">Features</span></h1>

        <p class="mt-4 text-gray-500 xl:mt-6">
            Our unique system includes all the below as standard
        </p>

        <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-16 md:grid-cols-2 xl:grid-cols-3">
            <div class="space-y-3">
                <span class="inline-block px-6 py-5 text-primary bg-slate-300 rounded-full">
                    <i class="bi bi-calendar text-2xl"></i>
                </span>
                <h3 class="text-2xl font-semibold text-primary">Meetings & Events</h3>
                <p class="text-gray-500">
                    Add meetings to committees and working groups and link in agendas and minutes as well as any other supporting documents. These will show on the calendar and will be archived so that they can be searched easily by residents or interested parties. 
                </p>
            </div>

            <div class="space-y-3">
                <span class="inline-block px-6 py-5 text-primary bg-slate-300 rounded-full">
                    <i class="bi bi-clipboard2-check-fill text-2xl"></i>
                </span>
                <h3 class="text-2xl font-semibold text-primary">Compliance</h3>
                <p class="text-gray-500">
                    All our websites comply with WCAG 2.1 AA requirements.
                </p>
            </div>

            <div class="space-y-3">
                <span class="inline-block px-6 py-5 text-primary bg-slate-300 rounded-full">
                    <i class="bi bi-pencil text-2xl"></i>
                </span>
                <h3 class="text-2xl font-semibold text-primary">Website Editor</h3>
                <p class="text-gray-500">
                    Our editor has been built from the ground up specifically for this system. It contains all the easy to use tools for you 
                </p>
            </div>
        </div>
    </div>
</section>
